@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<link rel="stylesheet" href="~/css/_PostPartial.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Add.css" asp-append-version="true" />


<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            To confirm your account click here: 
        </p>
        <div class="form-group">
            <a id="confirm-link" class="comfirmBtn" href="@Model.EmailConfirmationUrl">Confirm your account</a>
        </div>
    }
    else
    {
        <p>
            Please check your email to confirm your account. Dont work yet :)
        </p>
    }
}

