@model assignment_4.Models.Blogpost

<link rel="stylesheet" href="~/css/_PostPartial.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Add.css" asp-append-version="true" />


@{
    ViewData["Title"] = "Add";
}

<h1>Create a Blogpost</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" id="Title"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control"id="Summary" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" id="Content"/>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="actionButton createBtn" id="Submit"/>
                <a class="actionButton backList" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

