@model website.Models.PostPartialModel

<link rel="stylesheet" href="~/css/_PostPartial.css" asp-append-version="true" />


@{
    ViewData["Title"] = "Index";
}

<h1>Blogposts</h1>

<p>
    <a class="actionButton AddBtn" asp-action="Add">Create New</a>
</p>


<table class="table">
    <tbody>
        @foreach (var item in Model.Posts) {
            <partial name="_PostPartial" model="item" />
        }
    </tbody>
</table>
